<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankit.findyourfellow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FindYourFellow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/title_activity_create_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.MainActivity" />
            >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrackFriendsActivity"
            android:label="@string/title_activity_track_friends"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ManageFriendsActivity"
            android:label="@string/title_activity_manage_friends"
            android:parentActivityName=".TrackFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.TrackFriendsActivity" />
            >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".TrackFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.TrackFriendsActivity" />
            >
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:parentActivityName=".TrackFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.TrackFriendsActivity" />
            >
        </activity>
        <activity
            android:name=".UserIDActivity"
            android:label="@string/title_activity_user_id"
            android:parentActivityName=".TrackFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.TrackFriendsActivity" />
            >
        </activity>
        <activity
            android:name=".testLocationActivity"
            android:label="@string/title_activity_test_location"
            android:parentActivityName=".ManageFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.ManageFriendsActivity" />
            >
        </activity>

        <service android:name=".LocationHelper" />

        <activity
            android:name=".FriendInfoActivity"
            android:label="@string/title_activity_friend_info"
            android:parentActivityName=".TrackFriendsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ankit.findyourfellow.TrackFriendsActivity" />
            >
        </activity>
    </application>

</manifest>